{% load static %}

<link rel="stylesheet" href="{% static 'style2.css' %}">
<h1>sign up below</h1>

{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method="POST" action="login">
    {% csrf_token %}
    <p>Username</p>
    <input type="text" name="username"/>
    <p>Email</p>
    <input type="email" name="email"/>
    <p>Password</p>
    <input type="password" name="password"/>
    <p>Repeat password</p>
    <input type="password" name="re_password"/><br>
    <input type="submit" />
</form>